/*frontend/css/styles.css*/
body {
    font-family: Arial, sans-serif;
    padding: 20px;
}
form input, form button {
    display: block;
    margin: 10px 0;
}
.student {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
}
#FailElim {
    background-color: #ff8383;
    border-radius: 5px;
}